@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
body{ font-family: "Boldonse", system-ui;
    background-color:rgb(0, 115, 133);

}
section{
    max-width: 1140px;
    margin: 0 auto;
}
.menu ul li{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}
.logotipo img{
    width: 200px;
    border-radius: 40px;     
}
.logotipo{
    float: left;
}
.menu li a{
    color: black;
    text-decoration: none;
}
.menu li a:hover{
    color: #444;
}
.menu{
    padding-top: 20px;
}
.slider img{
    width: 100%;
}
header{
    padding: 10px;
height: 100px;
}
.item{
    background-color: rgb(2, 89, 89);
    padding: 20px;
    display: inline-block;
    width: 300px;
    margin: 10px 10px;
}
.descriçao{
   padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #c9c1c1;
}
a{
    text-decoration: none;
}
footer div{
    width: 33%;
    display: inline-block;
}
footer iframe{
    width: 100%! important;
}
footer{
    background-color: #94d5e6;
}
.formulario input{
    width: 92%;
    height: 40px;
    margin: 10px;
}
.contato p{
    font-size: 20px;
    padding: 10px;
    color: rgb(9, 18, 26);
}
.depoimentos{
    text-align: center;
}
.depoimentos h3{
    color: #444;
    font-weight: bold;
}
.depoimentos h2{
    font-size: 35px;
color: #444;
font-weight: bold;
padding: 20px;
}
.depoimentos img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.depoimentos .descriçao{
    font-size: 12px;
    font-weight: normal;
    padding: 30px 0;
}
.depoimentos .nome{
    color: #444;
    font-weight: bold;
}
.sobre{
    background: url(escritorios-do-google.jpg)
    50% / cover no-repeat fixed;
}
.sobre .texto{
    width: 50%;
    background-color: #444;
    color: #c9c1c1;
    padding: 40px;
    height: 270px;
}
.texto h2{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
.texto h2, .texto p{
    max-width: 570px;
float: right;
clear: both;
}
.viagens{
    padding: 40px 0;
}